/chapter00/dao/target/
/chapter00/repos/target/
/chapter02/beans-practice/target/
/chapter02/beansexample/target/
/chapter02/boot/target/
/chapter02/pojos-example/target/
/chapter02/pojos-practice/target/
/chapter02/xml-based/target/

/chapter03/junit-tests/target/
/chapter03/jupiter-tests/target/
/chapter03/spring-profiles/target/
/chapter03/spring-tests/target/
/chapter03/spring-tests-jupiter/target/
/chapter03/test-base/

/chapter04/aop/target/
/chapter04/aop-xml/target/

/chapter05/data-jpa/target/
/chapter05/emf/target/
/chapter05/hibernate/target/
/chapter05/jdbc/target/
/chapter05/sandbox/target/
/chapter05/transactions/target/

/chapter06/mvc-basic-xml/target/
/chapter06/mvc-basics/
/chapter06/mvc-views/

/chapter07/mvc-sec/target/
/chapter07/mvc-sec-thymeleaf/target/
/chapter07/mvc-sec-xml/target/

/chapter08/rest-classic/target/
/chapter08/rest-classic-secured/target/

/chapter09/classic-app/target/
/out/artifacts/rest_classsic/
/.idea/
